Week5/Session13/bert-sentiment-model/special_tokens_map.json
Week5/Session13/bert-sentiment-model/tokenizer_config.json
Week5/Session13/bert-sentiment-model/vocab.txt
Week5/Session13/bert-sentiment-results/config.json
Week5/Session13/bert-sentiment-results/model.safetensors
Week5/Session13/bert-sentiment-results/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-2/config.json
Week5/Session13/bert-sentiment-results/checkpoint-2/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-2/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-2/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-2/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-2/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-2/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-4/config.json
Week5/Session13/bert-sentiment-results/checkpoint-4/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-4/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-4/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-4/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-4/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-4/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-6/config.json
Week5/Session13/bert-sentiment-results/checkpoint-6/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-6/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-6/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-6/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-6/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-6/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-8/config.json
Week5/Session13/bert-sentiment-results/checkpoint-8/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-8/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-8/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-8/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-8/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-8/training_args.bin
Week5/Session13/final-bert-sentiment-model/config.json
Week5/Session13/final-bert-sentiment-model/model.safetensors
Week5/Session13/final-bert-sentiment-model/special_tokens_map.json
Week5/Session13/final-bert-sentiment-model/tokenizer_config.json
Week5/Session13/final-bert-sentiment-model/vocab.txt
Week5/Session13/logs/events.out.tfevents.1757837193.FAKHARY.21732.0
Week5/Session13/logs/events.out.tfevents.1757837248.FAKHARY.21732.1
Week7/Session16/data/cifar-10-python.tar.gz
Week7/Session16/data/cifar-10-batches-py/batches.meta
Week7/Session16/data/cifar-10-batches-py/data_batch_1
Week7/Session16/data/cifar-10-batches-py/data_batch_2
Week7/Session16/data/cifar-10-batches-py/data_batch_3
Week7/Session16/data/cifar-10-batches-py/data_batch_4
Week7/Session16/data/cifar-10-batches-py/data_batch_5
Week7/Session16/data/cifar-10-batches-py/readme.html
Week7/Session16/data/cifar-10-batches-py/test_batch
