Week5/Session13/bert-sentiment-model/special_tokens_map.json
Week5/Session13/bert-sentiment-model/tokenizer_config.json
Week5/Session13/bert-sentiment-model/vocab.txt
Week5/Session13/bert-sentiment-results/config.json
Week5/Session13/bert-sentiment-results/model.safetensors
Week5/Session13/bert-sentiment-results/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-2/config.json
Week5/Session13/bert-sentiment-results/checkpoint-2/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-2/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-2/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-2/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-2/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-2/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-4/config.json
Week5/Session13/bert-sentiment-results/checkpoint-4/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-4/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-4/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-4/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-4/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-4/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-6/config.json
Week5/Session13/bert-sentiment-results/checkpoint-6/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-6/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-6/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-6/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-6/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-6/training_args.bin
Week5/Session13/bert-sentiment-results/checkpoint-8/config.json
Week5/Session13/bert-sentiment-results/checkpoint-8/model.safetensors
Week5/Session13/bert-sentiment-results/checkpoint-8/optimizer.pt
Week5/Session13/bert-sentiment-results/checkpoint-8/rng_state.pth
Week5/Session13/bert-sentiment-results/checkpoint-8/scheduler.pt
Week5/Session13/bert-sentiment-results/checkpoint-8/trainer_state.json
Week5/Session13/bert-sentiment-results/checkpoint-8/training_args.bin
Week5/Session13/final-bert-sentiment-model/config.json
Week5/Session13/final-bert-sentiment-model/model.safetensors
Week5/Session13/final-bert-sentiment-model/special_tokens_map.json
Week5/Session13/final-bert-sentiment-model/tokenizer_config.json
Week5/Session13/final-bert-sentiment-model/vocab.txt
Week5/Session13/logs/events.out.tfevents.1757837193.FAKHARY.21732.0
Week5/Session13/logs/events.out.tfevents.1757837248.FAKHARY.21732.1
Week7/Session16/data/cifar-10-python.tar.gz
Week7/Session16/data/cifar-10-batches-py/batches.meta
Week7/Session16/data/cifar-10-batches-py/data_batch_1
Week7/Session16/data/cifar-10-batches-py/data_batch_2
Week7/Session16/data/cifar-10-batches-py/data_batch_3
Week7/Session16/data/cifar-10-batches-py/data_batch_4
Week7/Session16/data/cifar-10-batches-py/data_batch_5
Week7/Session16/data/cifar-10-batches-py/readme.html
Week7/Session16/data/cifar-10-batches-py/test_batch
Week7/Session16/logs/events.out.tfevents.1759921965.FAKHARY.46048.0
Week7/Session16/logs/events.out.tfevents.1759923573.FAKHARY.10668.0
Week7/Session16/logs/events.out.tfevents.1759925346.FAKHARY.10668.1
Week7/Session16/vit-cifar10-results/config.json
Week7/Session16/vit-cifar10-results/model.safetensors
Week7/Session16/vit-cifar10-results/training_args.bin
Week7/Session16/vit-cifar10-results/checkpoint-126/config.json
Week7/Session16/vit-cifar10-results/checkpoint-126/model.safetensors
Week7/Session16/vit-cifar10-results/checkpoint-126/optimizer.pt
Week7/Session16/vit-cifar10-results/checkpoint-126/rng_state.pth
Week7/Session16/vit-cifar10-results/checkpoint-126/scheduler.pt
Week7/Session16/vit-cifar10-results/checkpoint-126/trainer_state.json
Week7/Session16/vit-cifar10-results/checkpoint-126/training_args.bin
Week7/Session16/vit-cifar10-results/checkpoint-189/config.json
Week7/Session16/vit-cifar10-results/checkpoint-189/model.safetensors
Week7/Session16/vit-cifar10-results/checkpoint-189/optimizer.pt
Week7/Session16/vit-cifar10-results/checkpoint-189/rng_state.pth
Week7/Session16/vit-cifar10-results/checkpoint-189/scheduler.pt
Week7/Session16/vit-cifar10-results/checkpoint-189/trainer_state.json
Week7/Session16/vit-cifar10-results/checkpoint-189/training_args.bin
Week7/Session16/vit-cifar10-results/checkpoint-63/config.json
Week7/Session16/vit-cifar10-results/checkpoint-63/model.safetensors
Week7/Session16/vit-cifar10-results/checkpoint-63/optimizer.pt
Week7/Session16/vit-cifar10-results/checkpoint-63/rng_state.pth
Week7/Session16/vit-cifar10-results/checkpoint-63/scheduler.pt
Week7/Session16/vit-cifar10-results/checkpoint-63/trainer_state.json
Week7/Session16/vit-cifar10-results/checkpoint-63/training_args.bin
Week7/Session16/logs/events.out.tfevents.1759995680.FAKHARY.15764.0
Week7/Session16/logs/events.out.tfevents.1759997304.FAKHARY.15764.1
Week7/Session16/logs/events.out.tfevents.1759999058.FAKHARY.40484.0
Week7/Session16/logs/events.out.tfevents.1760000689.FAKHARY.40484.1
Week7/Session16/logs/events.out.tfevents.1760001076.FAKHARY.37096.0
Week7/Session16/logs/events.out.tfevents.1760002691.FAKHARY.37096.1
Week7/Session16/logs/events.out.tfevents.1760165417.FAKHARY.33196.0
Week7/Session16/logs/events.out.tfevents.1760167047.FAKHARY.33196.1
Week7/Session16/logs/events.out.tfevents.1760168680.FAKHARY.11180.0
Week7/Session16/logs/events.out.tfevents.1760170288.FAKHARY.11180.1
Week7/Session16/logs/events.out.tfevents.1760360777.FAKHARY.28676.0
Week7/Session16/logs/events.out.tfevents.1760362694.FAKHARY.28676.1
