<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python312\python.exe|C:\Users\Administrator\AppData\Roaming\Python\Python312\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="main.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
